.dots {
    width: 100vw;
    height: 10px;
}

.center_x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#slider-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
}

#dots-wrapper {
    display: flex;
    bottom: 30px;
}

.dot-nav {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    cursor: pointer;
    margin: 0 8px;
    border: 2px solid #d6d6d6;
}

.dot-nav:hover {
    background-color: #d6d6d6;
}

.active-dot {
    background-color: #d6d6d6;
}

.fade {
    animation: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}