* {
    font-family: 'Smooch Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    --purple: #8a2be2;
}


/*Header*/

.home-header {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.home-header video {
    position: fixed;
    object-fit: cover;
    object-position: right;
    width: 100%;
    height: 110%;
    z-index: -1;
}

.home-header__tech {
    width: 30vw;
    margin-left: 65vw;
    margin-top: 20px;
    filter: grayscale();
}

.home-header__name {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    align-self: flex-end;
    color: #FFF;
    padding-left: 10px;
    z-index: 1;
}

.home-header__name-h1 {
    font-size: 3.5em;
    font-weight: 900;
}

.home-header__name-h3 {
    font-size: 2em;
}


/*Navbar*/

.navbar {
    background: rgb(124, 36, 206);
    height: 70px;
    display: none;
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.navbar-container__menu {
    display: inline-block;
    box-sizing: border-box;
}

.navbar-container__li {
    display: inline-block;
    background-color: rgb(124, 36, 206);
    height: 70px;
    width: 150px;
    border: none;
    font-size: 2em;
}

.navbar-container__li a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2;
    font-weight: 900;
}

.navbar-container__li:hover>a {
    background: rgb(104, 29, 175);
}


/*Body Container*/

.body-container {
    background-color: #fff;
}


/*About Me*/

.section-About-Me {
    user-select: none;
    padding-bottom: 10%;
    margin: 0 10%;
    border-bottom: 2px solid #000;
    text-align: justify;
}

.section-About-Me h1 {
    padding-top: 10%;
    font-size: 4em;
}

.section-About-Me p {
    margin-top: 5%;
    font-size: 1.5em;
}


/**Projects */

.section-projects {
    height: 80vh;
    margin-bottom: 5%;
}

.section-projects__galery {
    display: flex;
    height: 100%;
    margin: 5%;
    background-color: #FFF;
    flex-wrap: wrap;
}

.section-projects__description {
    width: 100%;
    align-self: center;
    padding: 20px;
    text-align: justify;
}

.section-projects__description h1 {
    font-size: 4em;
}

.section-projects__description p {
    font-size: 1.5em;
}

.section-projects__description a {
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: 900;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    background: radial-gradient(circle, rgba(0, 255, 237, 1) 0%, rgb(4 46 53) 0%, rgb(6 15 28) 87%);
    border-radius: 5%;
}

.section-projects__description a:hover {
    box-shadow: 2px 2px black;
}

.section-projects__description a:active {
    filter: brightness(.5);
}

.project-buttons {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.section-projects__picture {
    width: 100%;
    align-self: center;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/**Skills */

.section-skill {
    display: flex;
    background: radial-gradient(circle, rgba(0, 255, 237, 1) 0%, rgb(4 46 53) 0%, rgb(6 15 28) 87%);
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 20px;
}

.section-skill__about {
    display: block;
    padding-bottom: 20px;
    color: #FFF;
}

.section-skill__about h4 {
    width: 100%;
    font-size: 3em;
}

.section-skill__about p {
    width: 100%;
    font-size: 2em;
}

.section-skill__tech {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
}

.section-skill__logos {
    margin: 0 10px;
    width: 100px;
    filter: contrast(0) brightness(100);
}

.section-skill__logos:hover {
    filter: none;
    filter: drop-shadow(5px 5px 10px #000);
}


/*Aside*/

.side-menu {
    position: sticky;
    top: 0;
    animation: sidebar;
    display: none;
}

.side-menu__container {
    height: 100vh;
    display: grid;
    grid-template-areas: "menu menu button" "menu menu blank""menu menu blank" "menu menu blank" "menu menu blank" "menu menu blank" "menu menu blank";
    background: transparent;
    transform: translateX(-80vw);
    animation: sidebar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.side-menu__ul {
    display: grid;
    grid-template-rows: 80px 100px 100px 100px 100px;
    grid-area: menu;
    row-gap: 20px;
    background: blueviolet;
}

.side-menu__button {
    grid-area: button;
    width: 20vw;
    height: 100px;
    background: blueviolet;
    border: none;
    font-size: 2.2em;
    border: 10px blueviolet outset;
    padding-top: 5px;
}

.side-menu__li {
    height: 100%;
    width: 80vw;
    background-color: rgb(116, 25, 201);
    text-align: center;
    line-height: 2.5;
}

.side-menu__li a {
    color: #000;
    font-size: 2.5em;
    font-weight: 900;
    text-decoration: none;
}

@keyframes sidebar {
    0% {}
    100% {
        transform: translateX(-80vw);
    }
}


/** Prefabs */


/** Responsive */

@media only screen and (min-width: 500px) {
    /**Header */
    .home-header__tech {
        margin-left: 89vw;
        width: 10vw;
    }
    /**Section-AboutMe */
    .section-About-Me {
        margin: 0 7%;
    }
    /**Section-skill */
    .section-skill {
        align-items: center;
        padding: 100px 50px;
    }
    .section-skill__about {
        width: 40%;
    }
    .section-skill__tech {
        width: 60%;
    }
    .section-skill__tech img {
        margin: 15px;
    }
    /**Section-projects */
    .section-projects__description {
        width: 40%;
    }
    .section-projects__picture {
        width: 60%;
    }
}