* {
    font-family: 'Smooch Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    --grandient: radial-gradient(circle, rgb(31 33 32) 0%, rgb(26 36 38) 0%, rgb(12 13 15) 87%);
}


/*Header*/

.home-header {
    height: 100vh;
    overflow: hidden;
    display: flex;
    user-select: none;
}

.home-header video {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 110%;
    z-index: -1;
}

.home-header__name {
    position: absolute;
    width: 100%;
    align-self: flex-start;
    margin-top: 10vh;
    color: #FFF;
    padding-left: 5vw;
    z-index: 1;
}

.home-header__name-h1 {
    font-size: 3.5em;
    font-weight: 900;
}

.home-header__name-h3 {
    font-size: 2em;
}

.arrow {
    text-decoration: none;
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    align-self: flex-end;
    font-size: 4em;
    color: #00000030;
    animation: arrow_move 2s infinite;
}

.arrow a {
    color: #00000030;
}

@keyframes arrow_move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}


/*Navbar*/

.navbar {
    background: rgb(124, 36, 206);
    height: 70px;
    display: none;
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.navbar-container__menu {
    display: inline-block;
    box-sizing: border-box;
}

.navbar-container__li {
    display: inline-block;
    background-color: rgb(124, 36, 206);
    height: 70px;
    width: 150px;
    border: none;
    font-size: 2em;
}

.navbar-container__li a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2;
    font-weight: 900;
}

.navbar-container__li:hover>a {
    background: rgb(104, 29, 175);
}


/*Body Container*/

.body-container {
    background-color: #fff;
}


/*About Me*/

.section-About-Me {
    user-select: none;
    padding-bottom: 10%;
    margin: 0 10%;
    border-bottom: 2px solid #000;
    text-align: justify;
}

.section-About-Me h1 {
    padding-top: 10%;
    font-size: 4em;
}

.section-About-Me p {
    margin-top: 5%;
    font-size: 1.5em;
}


/**Projects */

.section-projects {
    margin-bottom: 5%;
}

.section-projects__galery {
    display: flex;
    height: 100%;
    margin: 5%;
    background-color: #FFF;
    flex-wrap: wrap;
}

.section-projects__description {
    width: 100%;
    align-self: center;
    padding: 20px;
    text-align: justify;
}

.section-projects__description h1 {
    font-size: 4em;
}

.section-projects__description p {
    font-size: 1.5em;
}

.section-projects__description a {
    margin-top: 20px;
    width: 100px;
    border-radius: 50%;
    background: var(--grandient);
}

.section-projects__description a img {
    width: 100%;
    filter: contrast(0) brightness(100);
}

.section-projects__description a:nth-child(2) {
    padding-top: 5px;
}

.section-projects__description img:hover {
    filter: contrast(0) brightness(100) drop-shadow(0px 0px 10px #fff);
}

.section-projects__description a:active {
    filter: brightness(.5);
}

.project-buttons {
    margin: 0 10%;
    display: flex;
    justify-content: space-evenly;
}

.section-projects__picture {
    width: 100%;
    align-self: center;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/**Skills */

.section-skill {
    display: flex;
    background: var(--grandient);
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 20px;
}

.section-skill__about {
    display: block;
    padding-bottom: 20px;
    color: #FFF;
}

.section-skill__about h4 {
    width: 100%;
    font-size: 3em;
}

.section-skill__about p {
    width: 100%;
    font-size: 2em;
}

.section-skill__tech {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
}

.section-skill__logos {
    margin: 0 10px;
    width: 100px;
    filter: contrast(0) brightness(100);
}

.section-skill__logos:hover {
    filter: none;
    filter: drop-shadow(5px 5px 10px #000);
}


/*Aside*/

.side-menu {
    position: sticky;
    top: 0;
    animation: sidebar;
    display: none;
}

.side-menu__container {
    height: 100vh;
    display: grid;
    grid-template-areas: "menu menu button" "menu menu blank""menu menu blank" "menu menu blank" "menu menu blank" "menu menu blank" "menu menu blank";
    background: transparent;
    transform: translateX(-80vw);
    animation: sidebar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.side-menu__ul {
    display: grid;
    grid-template-rows: 80px 100px 100px 100px 100px;
    grid-area: menu;
    row-gap: 20px;
    background: blueviolet;
}

.side-menu__button {
    grid-area: button;
    width: 20vw;
    height: 100px;
    background: blueviolet;
    border: none;
    font-size: 2.2em;
    border: 10px blueviolet outset;
    padding-top: 5px;
}

.side-menu__li {
    height: 100%;
    width: 80vw;
    background-color: rgb(116, 25, 201);
    text-align: center;
    line-height: 2.5;
}

.side-menu__li a {
    color: #000;
    font-size: 2.5em;
    font-weight: 900;
    text-decoration: none;
}

@keyframes sidebar {
    0% {}
    100% {
        transform: translateX(-80vw);
    }
}


/** Prefabs */


/** Responsive */

@media only screen and (min-width: 500px) {
    .project-buttons {
        justify-content: end;
    }
}

@media only screen and (min-width: 900px) {
    /**Section-AboutMe */
    .section-About-Me {
        margin: 0 7%;
    }
    /**Section-skill */
    .section-skill {
        align-items: center;
        padding: 100px 50px;
    }
    .section-skill__about {
        width: 40%;
    }
    .section-skill__tech {
        width: 60%;
    }
    .section-skill__tech img {
        margin: 15px;
    }
    /**Section-projects */
    .section-projects__galery {
        flex-direction: row-reverse;
    }
    .section-projects__description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 40%;
    }
    .project-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-projects__description a {
        height: 100px;
        width: 100px;
    }
    .section-projects__picture {
        width: 60%;
    }
}

@media only screen and (min-width: 1170px) {
    /**Header */
    .home-header__name {
        font-size: 2em;
    }
}